/*---------------------------------------------------------------------------------*/
/*------------------------------------ GLOBAL -------------------------------------*/
/*---------------------------------------------------------------------------------*/

/*Font Type for whole Document*/
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*HTML Background*/
html, body {
	width: 100%;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-image: linear-gradient(#1e5263, #899b30);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: Raleway, serif;
}

/*NavBar attributes*/
div.container {
	font-family: Raleway;
	margin: 0 auto;
	padding: 20px;
	text-align: left;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}
div.container a {
	color: #fff;
	text-decoration: none;
	font: 20px Raleway;
	margin: 0px 10px;
	padding: 10px 10px;
	position: relative;
	z-index: 0;
	cursor: pointer;
}
div.container a.activenav {
	color: white;
}
.green {
	background: #1e5263;
}
div.highlightTextIn a:before {
	position: absolute;
	color: #FFF;
	top: 0px;
	left: 0px;
	padding: 10px;
	overflow: hidden;
	content: attr(alt);
	transition: all 0.3s;
	transform: scale(0.8);
	opacity: 0;
} 
div.highlightTextIn a:hover:not(.activenav):before {
	transform: scale(1);
	opacity: 1;
}
div.highlightTextIn a {
	color: rgba(0, 0, 0, 0.4);
}
div.highlightTextIn a:before {
	transform: scale(1.2);
}

/*---------------------------------------------------------------------------------*/
/*---------------------------------- INDEX PAGE -----------------------------------*/
/*---------------------------------------------------------------------------------*/

/*Slideshow*/
* {box-sizing:border-box}
.slideshow-container {
	width: 100%;
	max-height: calc(100vh - 60px);
	min-height: 100%;
	position: static;
	overflow: hidden;
	padding: 0;
	margin: 0;
	margin-top: 60px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}
.mySlides {
	display: none;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: #717171;
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
.slideshowText {
	color: white;
	font-size: 100px;
	position: absolute;
	text-align: center;
	margin-top: 600;
	padding: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 5px solid white;
}
.slideshowImages {
	width: 100%;
	height: auto;
}
@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

/*Index Boxes*/
.boxLeft {
	height: 300px;
	width: 1000px;
	margin-left: 25px;
	margin-right: auto;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
	border-radius: 15px;
}
.boxRight {
	width: 1000px;
	height: 300px;
	margin-left: auto;
	margin-right: 25px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
	border-radius: 15px;
}
.boxImage {
	width: 50%;
	height: 300px;
	margin: 0;
	
	padding: 0;
}
.left {
	float: left;
	margin-right: 35px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
.right {
	float: right;
	margin-left: 35px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
.boxHeader {
	margin: 10px;
	padding: 25px;
	padding-bottom: 0;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 20px;
}
.boxLeftContent {
	padding: 35px;
	margin: 10px;
	padding-top: 0;
	text-align: justify;
}
.textInput {
	width: 200px;
	margin: 5px;
	margin-left: 0px;
	padding: 10px;
	border: none;
	border-radius: 4px;
	border-bottom: 2px solid grey;
}
.submitButton {
	background-color: black;
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 5px;
	border-radius: 5px;
}
.submitButton:focus {
	outline:none;
}
.textInput:focus {
	outline:none;
	border-bottom: 2px solid black;
}
.submitButton:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}
.boxRightContent li {
	padding-top: 0;
	padding-left: 35px;
	margin: 10px;
}
.succeedingBoxes {
	margin-top: 0px; padding-top: 0px
}
#longInput {
	width: 30%;
	margin: 0;
}
.productContainerLeft {
	display: inline-block;
	max-width: 480px;
	vertical-align: top;
	margin: 15px;
	margin-top: 80px;
	background-color: white;
	border-radius: 15px;
	position: relative;
}